html{
    margin:0;
    height:100%;
    width:100%;
}

body {
    background: #FFFFFF;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    max-height:100%;
}

.content{
    padding:5%;
    margin:10%;
    border:5px solid red;
}
.pictureContainer {
    border: 3px dotted black;
    max-height:55%;
    width:auto;
}

.picture{
    max-width:100%;
}

.footer{
    max-height:50px;
    bottom:0;
    background-color:#000000;
}