html, body {
    margin: 0;
    padding: 0;
    background: 0 0;
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav {
    height: 48px;
    width: 100%;
    background-color: black;
    display: flex;
}

.headerslot {
    flex: 33%;
    position: relative;
}

.title {
    display: inline-block;
    position: absolute;
    font-weight: 3px;
}

.content {
    padding: 5%;
    margin: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pictureContainer {
    max-height: 55%;
    width: auto;
}

.picture {
    max-width: 100%;
    box-shadow: -1px 5px 40px -7px rgba(0,0,0,0.62);
}

.optionsContainer {
    display: flex;
    margin: 5% 0 5% 0;
    padding:0 15% 0 15%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.option {
    flex: 33%;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


.footer {
    max-height: 50px;
    bottom: 0;
    background-color: #000000;
}

.IDButtons {
    position: absolute;
    display: inline-block;
    min-height: 80%;
    text-align: center;
    border: none;
    border-radius:3px;
    background-color: #000000;
    border:1px solid white;
    color: white;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
}

.SignUpModal {
    display:none;
}

.LogInModal {
    display: none;
}